@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

.pokedex__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.pokedex__img {
  position: absolute;
  right: 0;
  top: 13px;
  z-index: -1;
  margin-left: 30px;
}

.pokedex__title {
  width: 306px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 100px 0 10px 30px;
}

.pokedex__search {
  position: relative;
}
.pokedex__search input {
  box-sizing: border-box;
  padding: 4px 8px;
  width: 330px;
  height: 24px;
  margin-left: 30px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-indent: 16px;
  display: flex;
  align-items: center;
  color: #666666;
}

input[type="search"]::-webkit-search-cancel-button {
  /* color: #666666; */
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #666666 45%,
      #666666 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #666666 45%,
      #666666 55%,
      transparent 57%,
      transparent 100%
    );
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

.fa-search {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 38px;
  top: calc(50% - 8px / 2);
  font-size: 8px;
  color: #666666;
}

#pokedex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 4px 0px;
  margin-top: 60px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 90px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  line-height: 16px;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 60px;
  position: relative;
}

.pokemon-card img {
  width: 84px;
  height: 62px;
  object-fit: contain;
  position: absolute;
  top: -50%;
}

.pokemon-name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 132px;
  height: 16px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.pokemon-id {
  font-size: 12px;
}

.pokemon-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 10px;

  width: 152px;
  height: 20px;
  font-weight: 700;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
}

.pokemon-type {
  padding: 2px 8px;
  background: #a43e9e;
  border-radius: 10px;
}

.select-menu {
  max-width: 330px;
  margin: 30px 30px;
}
.select-menu .select-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 66.5px;
  height: 25px;
  background: #ffffff;
  border: 1px solid #dc3535;
  border-radius: 12px;
  cursor: pointer;

  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #666666;
}
.select-menu .options {
  position: absolute;
  width: 66.5px;
  overflow-y: auto;
  max-height: 125px;
  margin-top: 5px;
  border: 1px solid #dc3535;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  cursor: pointer;
  border-radius: 8px;
  background: #ffffff;
}
.select-menu .options .option:hover {
  background: #f5f2f2;
  border-radius: 0;
}

.select-menu .options .option .option-text {
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #666666;
}

.select-btn i {
  font-size: 7px;
  transition: 0.3s;
  color: #dc3535;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
